<div class="content">
  <div class="janken_btn">
    <%= image_tag "janken_gu.png", class:"janken_gu"%>
    <%= image_tag "janken_choki.png", class:"janken_choki"%> 
    <%= image_tag "janken_pa.png", class:"janken_pa"%>
  </div>
</div>